* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual-img1 {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ300px */
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-img2 {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ300px */
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-img3 {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ300px */
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-img4 {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ300px */
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center; /* 背景画像を中央に配置 */
}
